<h1><%= @vendor.name %></h1>

<p>Title: <%= @vendor.title %></p>
<p>Cost: <%= @vendor.cost %></p>

<a href="/vendors/<%=@vendor.id%>/edit" class="btn btn-primary">Edit Vendor</a>
<br /><br />
<form action="/vendors/<%=@vendor.id%>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" class="btn btn-danger" value="Delete Vendor">
</form>